# Dev env setup related files
**.vscode
**.cache
**compile_commands.json

# Visualiser folder
push_swap_visualizer/

# Files related to the project
push_swap
checker
***.o
libft/libft.a

# Visualiser files
**imgui.ini

# Valgrind files
**vgcore*
