# Dev env setup related files
**.vscode
**.cache
**compile_commands.json

# Visualiser folder
push_swap_visualizer/

# Function call graph related files
***.expand
*.pdf

# Files related to the project
!push_swap.pdf
push_swap
checker
***.o
libft/libft.a

# Visualiser files
**imgui.ini

# Valgrind files
**vgcore*
