# Dev env setup related files
**.vscode
**.cache
**compile_commands.json

# Visualiser / Tester folders
push_swap_visualizer/
push_swap_tester/

# Function call graph related files
***.expand
*.pdf

# Files related to the project
!push_swap.pdf
push_swap
checker
***.o
***.d
libft/libft.a

# Visualiser files
**imgui.ini

# Valgrind files
**vgcore*
